.playlist-card {
  width: 15rem;
  height: 10rem;
  border: 1px solid var(--secondary);
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.close-btn {
  text-align: right;
  padding: 1rem;
  color: var(--white);
}
