.listing-container {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 1fr;
}

aside {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.lists {
  grid-column: 2/3;
  grid-row: 1/-1;
  overflow-y: scroll;
  padding: 1rem 0 0 1rem;
}

.video-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .listing-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10rem;
  }
  .lists {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  aside {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .video-cards {
    padding-right: 1rem;
  }
}
