.home-container{
    width: 85%;
    margin: 1rem auto;
    position: relative;
}

.hero-container img{
    transform: rotate(270deg);
    margin-top: -25rem;
}

.hero-body{
    position: absolute;
    top: 35rem;
    left: 0;
    right: 0;
}


@media only  screen and (max-width:600px) {
    html{
        font-size: 50%;
    }
    .hero-container img{
        transform: rotate(0deg);
        margin-top: 0rem;
        margin-left: -25rem;
    }
    .hero-body{
        position: absolute;
        top: 20rem;
        left: auto;
        width: 30rem;
    }
    
   
}