image{
    max-inline-size: 100%;
}
.history-card{
    display: flex;
    gap: 1rem;
    width: 50rem;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    background: #1E1F26;
    border-radius: 1rem;
}

.video-thumbnail img{
    width: 20rem;
    height: 10rem;
}

.video-title{
    font-size: 1.4rem;
}
.card-body{
    display: flex;
}

@media only screen and (max-width:600px){
    .history-card{
        flex-direction: column;
        width: 95%;
    }
    .video-title{
        width: 10ch;
    }
}