.App {
  text-align: center;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "nav"
                        "main";
  height: 100vh;
}

nav{
  grid-area: nav;
}

main{
  grid-area: main;
  overflow-y: scroll;
}



