*{

  margin: 0;
 padding: 0;
}

:root{
  --black:#0B0C10;
  --smoke-black:#1F2833;
  --grey:#C5C6C7;
  --primary:#66FCF1;
  --secondary:#45A29E;
  --white:#CCCCCC;
}

span{
  color: var(--primary);
}

.bg-black{
  background: var(--black);
}


.text-primary{
   color:var(--primary)
}

.bg-primary{
  background: var(--primary);
}
.text-grey{
  color:var(--smoke-black)
}

.text-white{
  color:var(--white)
}

.btn-primary:hover{
  background: var(--smoke-black);
  color: var(--primary);
}

.bottom-shadow{
  box-shadow: 0 3px 3px -2px rgba(255,255,255,0.5);
}

.width-auto{
  width: auto;
}