
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.modal{
    height: 30rem;
    width: 35rem;
    position: relative;
    background: var(--black);
}

.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
}